In [1]:
import pandas as pd

In [11]:
PLACES_CSV_PATH = "../../Database/CSV/Places.csv"
FEATURE_CSV_PATH = "../../GetData/scrapping review/feature/808 Bar and Lounge.csv"

In [5]:
places_df = pd.read_csv(PLACES_CSV_PATH)
feature_df = pd.read_csv(FEATURE_CSV_PATH)

In [6]:
# List all columns in the DataFrame
places_columns = places_df.columns.tolist()

# Print the list of columns
print(places_columns)

['Place_ID', 'Name', 'FormattedPhone', 'FormattedAddress', 'Latitude', 'Longitude', 'OverallRating', 'PriceLevel', 'Website', 'UserRatingTotal', 'ServesBeer', 'ServesWine', 'ServesVegetarianFood', 'WheelchairAccessibleEntrance', 'Halal', 'StreetAddress', 'District', 'City', 'Regency', 'Province', 'PostalNumber']

In [9]:
# List of columns to keep
columns_to_keep = ['Place_ID', 'Name']

# Drop columns except for the specified ones
places_df = places_df.drop(columns=[col for col in places_df.columns if col not in columns_to_keep])

# Rename Name Column
places_df = places_df.rename(columns={'Name': 'Place_Name'})

In [10]:
places_df

                        Place_ID                        Place_Name
0    ChIJ8b3du_dZei4R5Csj9BqdzsM            LOKO CAFE STASIUN TUGU
1    ChIJ-1OO3xhZei4RpiUw_jIlPBQ                          TUGU LOR
2    ChIJAbDRQ7pZei4Rm8oXtJg74k8  Ramu Nostalgia - Tugu Yogyakarta
3    ChIJWW-U4vlZei4RHX6ILzVTvcA                 Kedai Kolega Tugu
4    ChIJq6pHmTBYei4RlTjahkZgUlY                          Wedangan
..                           ...                               ...
546  ChIJ9bR2cARNei4RGT_bEf77qyk                       Shafea home
547  ChIJNyTTyIK1ey4RvIRJaw8eSFk                 KEDAI KAPTEN MUDA
548  ChIJbUgs4BZLei4RM6q6BWRgIQQ                           KOPIYUK
549  ChIJ29d7H1VLei4REVfbBPkULPA                       Karaoke Edy
550  ChIJn69MZXm1ey4RdBcckJestyQ                      Rall's & Dwy

[551 rows x 2 columns]

In [12]:
feature_df

,DESCRIPTION,SERVICE OPTION,HIGHLIGHTS,ACCESSIBILITY,OFFERINGS,DINING OPTIONS,AMENITIES,ATHMOSPHERE,CROWD,PLANNING,PAYMENTS
0,-,Bawa pulang,Pintu masuk khusus pengguna kursi roda,Hidangan larut malam,Sarapan,Cocok untuk anak-anak,Nyaman,Berkelompok,Menerima reservasi,Kartu debit,-
1,NaN,Makan di tempat,Toilet khusus pengguna kursi roda,Kopi,Brunch,Toilet,Santai,NaN,NaN,Kartu kredit,NaN
2,NaN,NaN,NaN,Makanan halal,Makan siang,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Menu untuk anak-anak,Makan malam,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Hidangan penutup,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
all_column = df.columns.tolist()

In [ ]:
all_column

In [ ]:
df = df.drop('Unnamed: 0', axis=1)

In [ ]:
df = df.drop('status',axis=1)

In [ ]:
viewport_columns = ['geometry_viewport_northeast_lat','geometry_viewport_northeast_lng','geometry_viewport_southwest_lat','geometry_viewport_southwest_lng']
df = df.drop(viewport_columns,axis=1)

In [ ]:
df = df.drop('plus_code_global_code',axis=1)

In [ ]:
df = df.drop('opening_hours_weekday_text',axis=1)

In [ ]:
new_column_names = {
    'place_id': 'Places_ID',
    'name': 'Name',
    'formatted_address': 'FormattedAddress',
    'formatted_phone_number': 'FormattedPhone',
    'geometry_location_lat': 'Latitude',
    'geometry_location_lng': 'Longitude',
    'serves_beer': 'ServesBeer',
    'serves_wine': 'ServesWine',
    'user_ratings_total': 'UserRatingTotal',
    'website': 'Website',
    'price_level': 'PriceLevel',
    'wheelchair_accessible_entrance': 'WheelchairAccessibleEntrance',
    'street_address': 'StreetAddress',
    'district': 'District',
    'city': 'City',
    'regency': 'Regency',
    'province': 'Province',
    'postal_number': 'PostalNumber',
    'photo_link': 'PhotoLink'
}
df = df.rename(columns=new_column_names)

In [ ]:
df

In [ ]:
df.to_csv('Places.csv', index=False)