In [59]:
import pandas as pd
import json
import re
import numpy as np

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
Onecity_v1_all_fields = "/content/drive/MyDrive/Capstone | Bangkit 2023/1City_v1_all_fields.json"

# Selected Fields

In [46]:
with open(Onecity_v1_all_fields) as file:
    data = json.load(file)

In [16]:
# Extract relevant information
rows = []
for item in data:
    result = item["result"]
    place_id = result.get("place_id")
    name = result.get("name")
    formatted_phone_number = result.get("formatted_phone_number")
    formatted_address = result.get("formatted_address")
    geometry = result.get("geometry")
    opening_hours = result.get("opening_hours")
    rating = result.get("rating")
    reviews = result.get("reviews")
    types = result.get("types")
    website = result.get("website")
    user_ratings_total = result.get("user_ratings_total")
    price_level = result.get("price_level")
    serves_beer = result.get("serves_beer")
    serves_vegetarian_food = result.get("serves_vegetarian_food")
    serves_wine = result.get("serves_wine")
    wheelchair_accessible_entrance = result.get("wheelchair_accessible_entrance")

    rows.append({
        "Place_ID": place_id,
        "Name": name,
        "FormattedPhone": formatted_phone_number,
        "FormattedAddress": formatted_address,
        "Latitude":geometry['location']['lat'],
        "Longitude":geometry['location']['lng'],
#         "OpeningHours": opening_hours,
        "OverallRating": rating,
        "PriceLevel": price_level,
#         "Reviews": reviews,
#         "Types": types,
        "Website": website,
        "UserRatingTotal": user_ratings_total,
        "ServesBeer": serves_beer,
        "ServesWine": serves_wine,
        "ServesVegetarianFood": serves_vegetarian_food,
        "WheelchairAccessibleEntrance": wheelchair_accessible_entrance
    })

In [17]:
# Create DataFrame
df = pd.DataFrame(rows)

In [18]:
# Create the 'halal' column
df['Halal'] = (df['ServesBeer'] == False) & (df['ServesWine'] == False)

In [ ]:
df.head(10)

In [20]:
df.columns

Index(['Place_ID', 'Name', 'FormattedPhone', 'FormattedAddress', 'Latitude',
       'Longitude', 'OverallRating', 'PriceLevel', 'Website',
       'UserRatingTotal', 'ServesBeer', 'ServesWine', 'ServesVegetarianFood',
       'WheelchairAccessibleEntrance', 'Halal'],
      dtype='object')

## Seperate The Address into Different Columns

In [22]:
df['FormattedAddress'].tolist()

['Sosromenduran, Gedong Tengen, Kota Yogyakarta, Daerah Istimewa Yogyakarta',
 'Cokrodiningratan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55233',
 'Jl. A.M. Sangaji No.2, Cokrodiningratan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55233',
 'Jl. P. Mangkubumi No.21, Gowongan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55232',
 'Jl. A.M. Sangaji No.9, Cokrodiningratan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55233',
 'lantai 2, Jl. Jend. Sudirman No.6, Gowongan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55233',
 'Jl. P. Mangkubumi No.62, Gowongan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55233',
 'Jl. P. Mangkubumi No.38, Gowongan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55233',
 '6967+3QR, Jl. Ps. Kembang, Sosromenduran, Gedong Tengen, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55271',
 'Jl. Ps. Kembang, Sosromenduran, Gedong Tengen, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55271',
 'Komp. Ps. Kembang, Jl. Ps. Kembang, Sosromenduran, Gedong Tengen, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55271',
 '6978+QP8, Jl. P. Mangkubumi, Gowongan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55233',
 'Jl. P. Mangkubumi No.73, Gowongan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55233',
 'Jl. Pangeran Diponegoro No.17, RW.001, Gowongan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55233',
 'Jl.Margoutomo, Kembang, Ngestiharjo, Kec. Kasihan, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55232',
 'Jl. Pangeran Diponegoro No.2, Gowongan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55233',
 'Jl. Margo Utomo No.79, Gowongan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55233',
 'Jl. Pangeran Diponegoro No.17, Gowongan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55233',
 'Jl. A.M. Sangaji No.2, Cokrodiningratan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55233',
 'Jl. Pangeran Diponegoro No.1, Gowongan, Kec. Jetis, Kota Jakarta Timur, Daerah Istimewa Yogyakarta 55233',
 'Jl. Panembahan Mangkurat No.20, Panembahan, Kecamatan Kraton, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55131',
 'Jl. Rotowijayan No.12, Kadipaten, Kecamatan Kraton, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55132',
 'Jl. Panembahan Mangkurat No.10, Panembahan, Kecamatan Kraton, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55131',
 'Alun alun utara, Kecamatan Kraton, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55131',
 'Jl. Alun-Alun Utara, Panembahan, Kecamatan Kraton, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55131',
 'KT 1 329 Kraton, Jl. Taman, Patehan, Kecamatan Kraton, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55133',
 'Jl. Panembahan, Panembahan, Kecamatan Kraton, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55131',
 'Jl. Patehan Lor No.8, Patehan, Kecamatan Kraton, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55133',
 'Komplek Wisata Tamansari Jalan Tamanan, Patehan, Kecamatan Kraton, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55133',
 'Jl. Pangurakan No.04, Ngupasan, Kec. Gondomanan, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55122',
 'Jl. Langenarjan Kidul No.15, Panembahan, Kecamatan Kraton, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55131',
 'Jl. Polowijan, Patehan, Kecamatan Kraton, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55133',
 'Jl. Wijilan No.8, Panembahan, Kecamatan Kraton, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55131',
 '59W8+46P, Jl. Alun-Alun Utara, Prawirodirjan, Kec. Gondomanan, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55131',
 '59V8+V58, Jl. Alun-Alun Utara, Panembahan, Kecamatan Kraton, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55131',
 'Jl. Taman Sari No.1/310, Patehan, Kecamatan Kraton, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55133',
 'Jl. Ngadisuryan No.14, Patehan, Kecamatan Kraton, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55133',
 'Jl. Kemitbumen No.23, Panembahan, Kecamatan Kraton, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55131',
 'Kios No. 1, Parkiran Bis Wisata Senopati, Jl. Panembahan Senopati No.16, Prawirodirjan, Kec. Gondomanan, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55131',
 '59W8+C77, Jl. Alun-Alun Utara, Panembahan, Kecamatan Kraton, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55131',
 'Bandara NYIA, Unnamed Road Sidorejo, Area Kebun, Glagah, Kec. Temon, Kabupaten Kulon Progo, Daerah Istimewa Yogyakarta 55654',
 '4336+94X New Yogyakarta International Airport (NYIA, Ngringit, Palihan, Kec. Temon, Kabupaten Kulon Progo, Daerah Istimewa Yogyakarta 55654',
 'Gedung Terminal Sementara Bandar Udara Internasional Yogyakarta, 33X5+VRG, Area Kebun, Glagah, Kec. Temon, Kabupaten Kulon Progo, Daerah Istimewa Yogyakarta 55654',
 'Bandar Udara Internasional Yogyakarta, Jl. Wates - Purworejo No.Km, RW.42, Area Kebun, Glagah, Kec. Temon, Kabupaten Kulon Progo, Daerah Istimewa Yogyakarta 55654',
 'YIA) Yogyakarta International Airport, 4326+X2M, Kepek, Temon Wetan, Temon, Kulon Progo Regency, Special Region of Yogyakarta 55654',
 '4335+2XC International Airport, Kepek, Palihan, Kec. Temon, Kabupaten Kulon Progo, Daerah Istimewa Yogyakarta 55654',
 'Yogyakarta International Airport, Kulon Progo Yogyakarta International Airport, Unnamed Road, 4325+8RQ, Munggangan, Palihan, Temon, Kulon Progo Regency, Special Region of Yogyakarta 55654',
 'Sidorejo, Glagah, Kec. Temon, Kabupaten Kulon Progo, Daerah Istimewa Yogyakarta 55654',
 'Jl. Wates - Purworejo, Melangsen, Palihan, Kec. Temon, Kabupaten Kulon Progo, Daerah Istimewa Yogyakarta 55654',
 '4335+2XM Bandara Internasional, Kepek, Palihan, Kec. Temon, Kabupaten Kulon Progo, Daerah Istimewa Yogyakarta 55654',
 '4328+J8C, Sidorejo, Glagah, Kec. Temon, Kabupaten Kulon Progo, Daerah Istimewa Yogyakarta 55654',
 'Yogyakarta International Airport, Kepek, Palihan, Kec. Temon, Kabupaten Kulon Progo, Daerah Istimewa Yogyakarta 55654',
 '43CG+33V, Kadilangu Lor, Temon Kulon, Kec. Temon, Kabupaten Kulon Progo, Daerah Istimewa Yogyakarta 55654',
 'Dukuh, Janten, Kec. Temon, Kabupaten Kulon Progo, Daerah Istimewa Yogyakarta 55654',
 '432Q+727, Jalan Pantai, Area Kebun, Glagah, Kec. Temon, Kabupaten Kulon Progo, Daerah Istimewa Yogyakarta 55654',
 '437H+7J8, Kaliwangan, Temon Wetan, Kec. Temon, Kabupaten Kulon Progo, Daerah Istimewa Yogyakarta 55654',
 'Yogyakarta International Airport, Kulon Progo Yogyakarta International Airport, Unnamed Road, 4325+5JV, Munggangan, Palihan, Temon, Kulon Progo Regency, Special Region of Yogyakarta 55654',
 'Jl. KRT. Brotodiningrat, Granti Wetan, Ngestiharjo, Kec. Wates, Kabupaten Kulon Progo, Daerah Istimewa Yogyakarta 55651',
 'Unnamed Road, Kepek, Pengasih, Kec. Pengasih, Kabupaten Kulon Progo, Daerah Istimewa Yogyakarta 55652',
 'Obyek Wisata Payung, Soropati, Hargotirto, Kec. Pengasih, Kabupaten Kulon Progo, Daerah Istimewa Yogyakarta 55653',
 'Jl. Mancasan Indah III No.14, Ngringin, Condongcatur, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Nusa Indah, Ngringin, Condongcatur, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Ringin Raya, Ngringin, Condongcatur, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55283',
 '6CR4+3X5, Jl. Nusa Indah, Ngringin, Condongcatur, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Ringin Raya No.4, Ngringin, Condongcatur, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Nusa Indah Dero, Condongcatur Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281 IG:, Dero, Condongcatur, Depok, Sleman Regency, Special Region of Yogyakarta 55281',
 'Jl. Prawiro Kuat No.172 C, Ngringin, Condongcatur, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Nusa Indah No.30, Ngringin, Condongcatur, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55283',
 'Jl. Anggrek No.212, Perumnas Condong Catur, Condongcatur, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Kamboja I No.97, Perumnas Condong Catur, Condongcatur, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 '6CX5+2M4, Jl. Wijaya Kusuma, Dero, Condongcatur, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Waringinsari II, Ngropoh, Condongcatur, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Ringin Raya No.11, Ngringin, Condongcatur, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55283',
 'Gg. Pucung Baru II, Ngropoh, Caturtunggal, Kec. Depok, Yogyakarta, Daerah Istimewa Yogyakarta 55281',
 'Jl. Wahid Hasyim No.50, Ngropoh, Condongcatur, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55283',
 'Jl. Ring Road Utara No.3f, Mancasan, Condongcatur, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55283',
 '6CR5+MWC, Jl. Ringin Raya, Ngringin, Condongcatur, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Gg. Garboruci No.372, Kledokan, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Ringin Raya No.26, Ngringin, Condongcatur, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jenengan, Maguwoharjo, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Bhinneka Tunggal Ika, Sagan, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 '69JH+7QG Fisipol UGM, Jl. Sosio Yustisia, Karang Malang, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Pertamina Tower, Fakultas Ekonomika dan Bisnis, Humaniora, Bulaksumur,, 69HH+HQ8, Jl. Sosio Yustisia, Karang Malang, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Lembah UGM, Karang Gayam, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Pojok Timur-Selatan, Fakultas Kehutanan UGM, Jl. Agro No.1, Kocoran, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Lembah UGM, Karang Malang, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Cik Di Tiro No.19, Terban, Kec. Gondokusuman, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55223',
 'Jl. Agro No.210, Kocoran, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Sagan GK. V No.788, Terban, Kec. Gondokusuman, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55223',
 '69HG+WP2, Bulaksumur, Sendowo, Sinduadi, Kec. Mlati, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jalan Sagan Timur GK 5 1053B, Terban, Kec. Gondokusuman, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55223',
 '69JP+VWV, Karang Gayam, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 '69MH+JR6, Kocoran CT.III, RT.5/RW.3, Kocoran, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta',
 'Gg. Gayamsari I No.14 F, Kocoran, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 '4, Jl. Kaliurang No.36 km, RW.5, Kocoran, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Kaliurang Km. 5, Gg. Siti Sonya No.88, Kocoran, Sinduadi, Kec. Mlati, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Pogung Kidul, Pogung Kidul, Sinduadi, Kec. Mlati, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55284',
 'Gang Code 3, Karangjati Wetan, No.170 C, Monjali St, RT.06/RW.45, Gemawang, Sinduadi, Mlati, Sleman Regency, Special Region of Yogyakarta 55283',
 'Blk. A No.a15, Pogung Kidul, Sinduadi, Kec. Mlati, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55284',
 'Karang Malang, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Karangmalang, Karang Malang, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Colombo Yogyakarta Jl. Karangmalang No.30, RW.02, Karang Malang, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 '69GP+Q35, Jl. Karangmalang, Karang Malang, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Gg. Guru No.8C, Mrican, Condongcatur, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Komp. Colombo No.37, Mrican, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Mrican Baru No.1, Mrican, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Affandi No.25 B, Santren, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Wisma MMUGM, Jl. Karangmalang, Karang Gayam, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Laksda Adisucipto No.19, Demangan, Kec. Gondokusuman, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55221',
 'Jl. Pringgodani Jl. Demangan Baru No.14, Mrican, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Garuda No.26, Mrican, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Karangmalang, Karang Malang, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Mangga No.37, Karang Wuni, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Komp. Colombo No.39, Mrican, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl.Flamboyan, Deresan Jl. Affandi No.90, Karang Gayam, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'Jl. Kenari No.7, Demangan Baru, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281',
 'X8GJ+P4M, Pantai, Parangtritis, Kec. Kretek, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55772',
 'X8HF+96H, Pantai, Parangtritis, Kec. Kretek, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55772',
 'Pantai, Parangtritis, Kec. Kretek, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55772',
 'Pantai, Parangtritis, Kec. Kretek, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55872',
 'Jl. Ke Pantai, Pantai, Parangtritis, Kec. Kretek, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55772',
 'X8GH+G5J, Pantai, Parangtritis, Kec. Kretek, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55772',
 'Pantai, Parangtritis, Kec. Kretek, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55772',
 'X8HH+4HX, Jl. Pantai Parangtritis, Pantai, Parangtritis, Kec. Kretek, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55772',
 'X8GH+M36, Pantai, Parangtritis, Kec. Kretek, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55772',
 'X8GG+W3P, Pantai, Parangtritis, Kec. Kretek, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55772',
 'Unnamed Road, X8GJ+48F, Pantai, Parangtritis, Kec. Kretek, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55772',
 'X8FM+RP8, Pantai, Parangtritis, Kec. Kretek, Kabupaten Bantul, Daerah Istimewa Yogyakarta',
 'X8FM+RP8, Pantai, Parangtritis, Kec. Kretek, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55772',
 'X8JC+5P3, Pantai, Parangtritis, Kec. Kretek, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55772',
 'Kretek, Pantai, Parangtritis, Kec. Kretek, Kabupaten Bantul, Daerah Istimewa Yogyakarta',
 'Parangkusumo, Pantai, Parangtritis, Kec. Kretek, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55772',
 'Parang Kusumo Road, X8HG+H88, Pantai, Parangtritis, Kretek, Bantul Regency, Special Region of Yogyakarta 55772',
 'Jl. Parangtritis - Panggang, Pantai, Parangtritis, Kec. Kretek, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55772',
 'Pantai, Parangtritis, Kec. Kretek, Kabupaten Bantul, Daerah Istimewa Yogyakarta 60253',
 'X8GG+QF7, Jl. Pantai Parangkusumo, Pantai, Parangtritis, Kec. Kretek, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55772',
 'Jl. Candi Sewu No.30, RT.20/RW.06, Candi Prambanan, Tlogo, Kec. Prambanan, Kabupaten Klaten, Jawa Tengah 57454',
 'Unnamed Road, 6FWP+7F3, Rogem, Tamanmartani, Kec. Kalasan, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55571',
 '6FVQ+9FV, Kranggan, Bokoharjo, Kec. Prambanan, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55572',
 'Candi, 6FXX+627, Candi Prambanan, Tlogo, Kec. Prambanan, Kabupaten Klaten, Jawa Tengah 57454',
 'ngangkruk, Kb. Dalem Kidul, Kec. Prambanan, Kabupaten Klaten, Jawa Tengah 57454',
 'Jl. Raya Prambanan-Klaten No.100, Tlogo Kidul, Kb. Dalem Kidul, Kec. Prambanan, Kabupaten Klaten, Jawa Tengah 57454',
 'Jl. Pulerejo No.01, RT.01/RW.01, Pulerejo, Bokoharjo, Kec. Prambanan, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55572',
 '6FXV+WPM, Candi Prambanan, Tlogo, Kec. Prambanan, Kabupaten Klaten, Jawa Tengah 57454',
 '6FXQ+343, Jl. Taman Prambanan Kulon, Klurak, Bokoharjo, Kec. Kalasan, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55571',
 '6FRR+P2R, TAMAN Aster, Klurak Baru, Bokoharjo, Kec. Prambanan, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55572',
 '7F5R+FJP, Jl. Pulerejo, Kranggan, Bokoharjo, Kec. Prambanan, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55572',
 'Jl. Pandawa, Banjarsari, Kb. Dalem Kidul, Kec. Prambanan, Kabupaten Klaten, Jawa Tengah 57454',
 'Jl. Raya Solo - Yogyakarta No.KM. 16, Klurak, Tamanmartani, Kec. Prambanan, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55571',
 'Jl. Manisrenggo No.1, Area Sawah, Bugisan, Kec. Prambanan, Kabupaten Klaten, Jawa Tengah 57454',
 '6FWV+GVR, Tlogo Kidul, Tlogo, Kec. Prambanan, Kabupaten Klaten, Jawa Tengah 57454',
 '7F2Q+779, Jl. Taman Prambanan Kulon, Klurak, Tamanmartani, Kec. Kalasan, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55571',
 'Jl. Randusari, Klurak Baru, Bokoharjo, yogyakarta, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55572',
 'Jl. Stasiun Prambanan Kios Tegalharjo, Kb. Dalem Kidul, Kec. Prambanan, Kabupaten Klaten, Jawa Tengah 57454',
 '7F7R+R32, Taman Pabrik, Tamanmartani, Kec. Kalasan, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55571',
 'Jl. Raya Manisrenggo - Prambanan No.16, Area Sawah, Bugisan, Kec. Prambanan, Kabupaten Klaten, Jawa Tengah 57454',
 'Jl. A.M. Sangaji, Cokrodiningratan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55233',
 'Stasiun Tugu Jalan Pangeran Mangkubumi No. 1 Gowongan, Sosromenduran, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55232',
 '6967+99G, Sosromenduran, Gedong Tengen, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55271',
 'Jl. Margo Utomo Jl. Kb. Dalem, Gowongan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55233',
 'Jl. Pangeran Diponegoro No.14, Gowongan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55233',
 'Ps. Kranggan, Jl. A.M. Sangaji, Gowongan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55233',
 'Jl. A.M. Sangaji No.10, Cokrodiningratan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55123',
 '6998+7W6, Jl. A.M. Sangaji, Cokrodiningratan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55233',
 'Jl. Margo Utomo No.3b, Sosromenduran, Gedong Tengen, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55271',
 'Stasiun Tugu Yogyakarta, Sosromenduran, Gedong Tengen, Yogyakarta City, Special Region of Yogyakarta 55271',
 'Cokrodiningratan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55233',
 'Kuliner Lor Tugu Tenant no 7, Jl. A.M. Sangaji, Cokrodiningratan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta',
 'Terban Gondokusuman, No.2A-B, Jl. DR. Sardjito, Cokrodiningratan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55233',
 '6999+54P, Cokrodiningratan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55233',
 'Jl. Mangkubumi No.58, Gowongan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55233',
 '6967+57J, Sosromenduran, Gedong Tengen, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55271',
 'Pasar Kranggan, Jl. Diponegoro, 6998+287, Gowongan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55233',
 'Jl. Ps. Kembang No.24-51, Sosromenduran, Gedong Tengen, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55271',
 'Jl. Jend. Sudirman No.16, Gowongan, Kec. Jetis, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55233',
 'Jl. Magangan Kulon No.1, Panembahan, Kecamatan Kraton, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55131',
 'Jl. Rotowijayan No.5, Kadipaten, Kecamatan Kraton, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55132',

In [23]:
df2 = pd.DataFrame()

In [24]:
df2['Place_ID'] = df['Place_ID']
df2['Name'] = df['Name']

In [25]:
df2['Province'] = df['FormattedAddress'].str.split(',').str[-1].str.strip().str.split().str[:-1].str.join(' ')
df2['PostalNumber'] = df['FormattedAddress'].str.split().str[-1]

In [26]:
df2

,Place_ID,Name,Province,PostalNumber
0,ChIJ8b3du_dZei4R5Csj9BqdzsM,LOKO CAFE STASIUN TUGU,Daerah Istimewa,Yogyakarta
1,ChIJ-1OO3xhZei4RpiUw_jIlPBQ,TUGU LOR,Daerah Istimewa Yogyakarta,55233
2,ChIJAbDRQ7pZei4Rm8oXtJg74k8,Ramu Nostalgia - Tugu Yogyakarta,Daerah Istimewa Yogyakarta,55233
3,ChIJWW-U4vlZei4RHX6ILzVTvcA,Kedai Kolega Tugu,Daerah Istimewa Yogyakarta,55232
4,ChIJq6pHmTBYei4RlTjahkZgUlY,Wedangan,Daerah Istimewa Yogyakarta,55233
...,...,...,...,...
546,ChIJ9bR2cARNei4RGT_bEf77qyk,Shafea home,Daerah Istimewa Yogyakarta,55851
547,ChIJNyTTyIK1ey4RvIRJaw8eSFk,KEDAI KAPTEN MUDA,Daerah Istimewa Yogyakarta,55891
548,ChIJbUgs4BZLei4RM6q6BWRgIQQ,KOPIYUK,Daerah Istimewa Yogyakarta,55852
549,ChIJ29d7H1VLei4REVfbBPkULPA,Karaoke Edy,Daerah Istimewa Yogyakarta,55891
550,ChIJn69MZXm1ey4RdBcckJestyQ,Rall's & Dwy,Daerah Istimewa,Yogyakarta

In [27]:
df2['StreetAddress'] = ''
df2['District'] = ''
df2['City'] = ''
df2['Regency'] = ''

In [28]:
for index, row in df.iterrows():
    address_parts = row['FormattedAddress'].split(', ')
    
    # Extract the desired components based on specific patterns
    for part in address_parts:
        if part.startswith('Jl.'):
            df2.at[index, 'StreetAddress'] = part
        elif part.startswith('Kec. ') or part.startswith('Kecamatan'):
            df2.at[index, 'District'] = part
        elif part.startswith('Kota'):
            df2.at[index, 'City'] = part
        elif part.startswith('Kabupaten'):
            df2.at[index, 'Regency'] = part

In [29]:
df2

,Place_ID,Name,Province,PostalNumber,StreetAddress,District,City,Regency
0,ChIJ8b3du_dZei4R5Csj9BqdzsM,LOKO CAFE STASIUN TUGU,Daerah Istimewa,Yogyakarta,,,Kota Yogyakarta,
1,ChIJ-1OO3xhZei4RpiUw_jIlPBQ,TUGU LOR,Daerah Istimewa Yogyakarta,55233,,Kec. Jetis,Kota Yogyakarta,
2,ChIJAbDRQ7pZei4Rm8oXtJg74k8,Ramu Nostalgia - Tugu Yogyakarta,Daerah Istimewa Yogyakarta,55233,Jl. A.M. Sangaji No.2,Kec. Jetis,Kota Yogyakarta,
3,ChIJWW-U4vlZei4RHX6ILzVTvcA,Kedai Kolega Tugu,Daerah Istimewa Yogyakarta,55232,Jl. P. Mangkubumi No.21,Kec. Jetis,Kota Yogyakarta,
4,ChIJq6pHmTBYei4RlTjahkZgUlY,Wedangan,Daerah Istimewa Yogyakarta,55233,Jl. A.M. Sangaji No.9,Kec. Jetis,Kota Yogyakarta,
...,...,...,...,...,...,...,...,...
546,ChIJ9bR2cARNei4RGT_bEf77qyk,Shafea home,Daerah Istimewa Yogyakarta,55851,,Kec. Wonosari,,Kabupaten Gunung Kidul
547,ChIJNyTTyIK1ey4RvIRJaw8eSFk,KEDAI KAPTEN MUDA,Daerah Istimewa Yogyakarta,55891,Jl. Karangmojo - Wonosari,Kec. Karangmojo,,Kabupaten Gunung Kidul
548,ChIJbUgs4BZLei4RM6q6BWRgIQQ,KOPIYUK,Daerah Istimewa Yogyakarta,55852,,Kec. Nglipar,,Kabupaten Gunung Kidul
549,ChIJ29d7H1VLei4REVfbBPkULPA,Karaoke Edy,Daerah Istimewa Yogyakarta,55891,,Kec. Karangmojo,,Kabupaten Gunung Kidul
550,ChIJn69MZXm1ey4RdBcckJestyQ,Rall's & Dwy,Daerah Istimewa,Yogyakarta,,Kec. Wonosari,,Kabupaten Gunung Kidul

In [30]:
df2.head()

,Place_ID,Name,Province,PostalNumber,StreetAddress,District,City,Regency
0,ChIJ8b3du_dZei4R5Csj9BqdzsM,LOKO CAFE STASIUN TUGU,Daerah Istimewa,Yogyakarta,,,Kota Yogyakarta,
1,ChIJ-1OO3xhZei4RpiUw_jIlPBQ,TUGU LOR,Daerah Istimewa Yogyakarta,55233,,Kec. Jetis,Kota Yogyakarta,
2,ChIJAbDRQ7pZei4Rm8oXtJg74k8,Ramu Nostalgia - Tugu Yogyakarta,Daerah Istimewa Yogyakarta,55233,Jl. A.M. Sangaji No.2,Kec. Jetis,Kota Yogyakarta,
3,ChIJWW-U4vlZei4RHX6ILzVTvcA,Kedai Kolega Tugu,Daerah Istimewa Yogyakarta,55232,Jl. P. Mangkubumi No.21,Kec. Jetis,Kota Yogyakarta,
4,ChIJq6pHmTBYei4RlTjahkZgUlY,Wedangan,Daerah Istimewa Yogyakarta,55233,Jl. A.M. Sangaji No.9,Kec. Jetis,Kota Yogyakarta,

In [31]:
columns_to_include = ["StreetAddress","District","City","Regency","Province","PostalNumber",]

In [32]:
merged_df = pd.merge(df, df2[columns_to_include],left_index=True, right_index=True)

In [33]:
merged_df

,Place_ID,Name,FormattedPhone,FormattedAddress,Latitude,Longitude,OverallRating,PriceLevel,Website,UserRatingTotal,...,ServesWine,ServesVegetarianFood,WheelchairAccessibleEntrance,Halal,StreetAddress,District,City,Regency,Province,PostalNumber
0,ChIJ8b3du_dZei4R5Csj9BqdzsM,LOKO CAFE STASIUN TUGU,0812-2009-6492,"Sosromenduran, Gedong Tengen, Kota Yogyakarta,...",-7.789311,110.363483,4.1,NaN,https://instagram.com/lokocafe?igshid=OTJlNzQ0...,12.0,...,None,None,None,False,,,Kota Yogyakarta,,Daerah Istimewa,Yogyakarta
1,ChIJ-1OO3xhZei4RpiUw_jIlPBQ,TUGU LOR,(0274) 515268,"Cokrodiningratan, Kec. Jetis, Kota Yogyakarta,...",-7.774089,110.368301,4.5,2.0,None,1644.0,...,False,None,False,True,,Kec. Jetis,Kota Yogyakarta,,Daerah Istimewa Yogyakarta,55233
2,ChIJAbDRQ7pZei4Rm8oXtJg74k8,Ramu Nostalgia - Tugu Yogyakarta,0851-5692-3734,"Jl. A.M. Sangaji No.2, Cokrodiningratan, Kec. ...",-7.782492,110.367303,5.0,NaN,http://www.ramunostalgia.com/,17.0,...,False,None,None,True,Jl. A.M. Sangaji No.2,Kec. Jetis,Kota Yogyakarta,,Daerah Istimewa Yogyakarta,55233
3,ChIJWW-U4vlZei4RHX6ILzVTvcA,Kedai Kolega Tugu,0821-3750-7055,"Jl. P. Mangkubumi No.21, Gowongan, Kec. Jetis,...",-7.787412,110.366382,4.6,NaN,None,59.0,...,False,None,None,True,Jl. P. Mangkubumi No.21,Kec. Jetis,Kota Yogyakarta,,Daerah Istimewa Yogyakarta,55232
4,ChIJq6pHmTBYei4RlTjahkZgUlY,Wedangan,None,"Jl. A.M. Sangaji No.9, Cokrodiningratan, Kec. ...",-7.782092,110.367058,5.0,NaN,None,10.0,...,False,None,None,True,Jl. A.M. Sangaji No.9,Kec. Jetis,Kota Yogyakarta,,Daerah Istimewa Yogyakarta,55233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546,ChIJ9bR2cARNei4RGT_bEf77qyk,Shafea home,None,"3JP2+MW8, Ngringin, Gari, Kec. Wonosari, Kabup...",-7.913327,110.602334,NaN,NaN,None,NaN,...,None,None,None,False,,Kec. Wonosari,,Kabupaten Gunung Kidul,Daerah Istimewa Yogyakarta,55851
547,ChIJNyTTyIK1ey4RvIRJaw8eSFk,KEDAI KAPTEN MUDA,(242) 433-9005,"2MXF+383, Jl. Karangmojo - Wonosari, Gedang Re...",-7.952361,110.673289,5.0,NaN,None,1.0,...,None,None,None,False,Jl. Karangmojo - Wonosari,Kec. Karangmojo,,Kabupaten Gunung Kidul,Daerah Istimewa Yogyakarta,55891
548,ChIJbUgs4BZLei4RM6q6BWRgIQQ,KOPIYUK,0858-0033-2018,Jln nglipar ngawen Ngrandu 004/001 katongan ng...,-7.865053,110.632366,NaN,NaN,None,NaN,...,None,None,None,False,,Kec. Nglipar,,Kabupaten Gunung Kidul,Daerah Istimewa Yogyakarta,55852
549,ChIJ29d7H1VLei4REVfbBPkULPA,Karaoke Edy,None,"3J39+9V7, Grogol IV, Bejiharjo, Kec. Karangmoj...",-7.946598,110.619662,4.1,2.0,None,144.0,...,False,None,False,False,,Kec. Karangmojo,,Kabupaten Gunung Kidul,Daerah Istimewa Yogyakarta,55891
550,ChIJn69MZXm1ey4RdBcckJestyQ,Rall's & Dwy,None,"GEDANGSARI RT 04, RW.05, Wukirsari, Baleharjo,...",-7.979882,110.618327,5.0,NaN,None,1.0,...,None,None,None,False,,Kec. Wonosari,,Kabupaten Gunung Kidul,Daerah Istimewa,Yogyakarta

In [34]:
# Get the data types of each column
data_types = merged_df.dtypes

# Print the data types
print(data_types)

Place_ID                         object
Name                             object
FormattedPhone                   object
FormattedAddress                 object
Latitude                        float64
Longitude                       float64
OverallRating                   float64
PriceLevel                      float64
Website                          object
UserRatingTotal                 float64
ServesBeer                       object
ServesWine                       object
ServesVegetarianFood             object
WheelchairAccessibleEntrance     object
Halal                              bool
StreetAddress                    object
District                         object
City                             object
Regency                          object
Province                         object
PostalNumber                     object
dtype: object

In [35]:
merged_df.to_csv("Places.csv",encoding='utf-8',index=False)

## Opening and Closing Hours

In [39]:
# Print data
for i in data:
    print(i)
    break

{'html_attributions': [], 'result': {'address_components': [{'long_name': 'Sosromenduran', 'short_name': 'Sosromenduran', 'types': ['administrative_area_level_4', 'political']}, {'long_name': 'Gedong Tengen', 'short_name': 'Gedong Tengen', 'types': ['administrative_area_level_3', 'political']}, {'long_name': 'Kota Yogyakarta', 'short_name': 'Kota Yogyakarta', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Daerah Istimewa Yogyakarta', 'short_name': 'Jogja', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'Indonesia', 'short_name': 'ID', 'types': ['country', 'political']}], 'adr_address': '<span class="extended-address">Sosromenduran, Gedong Tengen</span>, <span class="locality">Kota Yogyakarta</span>, <span class="region">Daerah Istimewa Yogyakarta</span>, <span class="country-name">Indonesia</span>', 'business_status': 'OPERATIONAL', 'curbside_pickup': False, 'delivery': False, 'dine_in': True, 'formatted_address': 'Sosromenduran, Gedong Tengen, Kota Yogyakarta, Daerah Istimewa Yogyakarta', 'formatted_phone_number': '0812-2009-6492', 'geometry': {'location': {'lat': -7.789311300000001, 'lng': 110.3634832}, 'viewport': {'northeast': {'lat': -7.788190369708499, 'lng': 110.3647550802915}, 'southwest': {'lat': -7.790888330291502, 'lng': 110.3620571197085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/cafe-71.png', 'icon_background_color': '#FF9E67', 'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/cafe_pinlet', 'international_phone_number': '+62 812-2009-6492', 'name': 'LOKO CAFE STASIUN TUGU', 'opening_hours': {'open_now': False, 'periods': [{'close': {'day': 0, 'time': '2200'}, 'open': {'day': 0, 'time': '0800'}}, {'close': {'day': 1, 'time': '2200'}, 'open': {'day': 1, 'time': '0800'}}, {'close': {'day': 2, 'time': '2200'}, 'open': {'day': 2, 'time': '0800'}}, {'close': {'day': 3, 'time': '2200'}, 'open': {'day': 3, 'time': '0800'}}, {'close': {'day': 4, 'time': '2200'}, 'open': {'day': 4, 'time': '0800'}}, {'close': {'day': 5, 'time': '2200'}, 'open': {'day': 5, 'time': '0800'}}, {'close': {'day': 6, 'time': '2200'}, 'open': {'day': 6, 'time': '0800'}}], 'weekday_text': ['Senin: 08.0022.00', 'Selasa: 08.0022.00', 'Rabu: 08.0022.00', 'Kamis: 08.0022.00', 'Jumat: 08.0022.00', 'Sabtu: 08.0022.00', 'Minggu: 08.0022.00']}, 'photos': [{'height': 3024, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109023460959007742143">Freddy Aldo</a>'], 'photo_reference': 'AZose0koBWwYuPsPYL6F8y9cRrr8parwDNEp4BxQx-J7F4RDW7x9BrCqFwPXFnor059URal7kEuku5sLR3uXw0mkGm6ch3E3oStgQxrqb9iQlI-Zg--Zw9eLd8eUuMS-XVITSFFnCuC3J3ipaMz4IMwWcF-yHY5qhuKKpOAjHQPn-eb5bkDA', 'width': 4032}, {'height': 3468, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105445250607802347295">HeyGandamu</a>'], 'photo_reference': 'AZose0k8atOkx0AJj88F62nNRPZE9WcylrVvST3NDNkW0qV8N9lREmPvHIykW8mZ7AWqPSNzw5DFSP3iGtPUIui-vwFLmhgwYHfDiqU5_SpZTN-Mgi8rCZ96ZQ9BRy2v6nfFUwvZu4xx_MQi3Jl0kP7kkTyr95cu_WPB-2d_M1U-b3TA3WP7', 'width': 3468}, {'height': 3468, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107744527173184313083">Antok Frans</a>'], 'photo_reference': 'AZose0lbtGecHeO0FBnWsIm3pcjRYjsvYfDm5MriME46p-Zf9kPo4AvDf2o7ywz_kijOpHQVKYsL5cYVOSsXGhnsrYSnRgrpuBIIVVelIKWD_vTEvZHajqRct5WpFaMUZXI7JPCHfR2Fe2zP5Upr50UczjwrwcNzD5Bb0sqsFaOUyB2tLRxc', 'width': 4624}, {'height': 2268, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109969747838492017099">Ang Tek Khun</a>'], 'photo_reference': 'AZose0n34wsKLjNl0tkiSEi33NQOxRz9wUDTJ1fxtz9riQI60n58kOGhMZN-FGxjQ1cOuhdHqa6BgRc4g-vOcChHqBv8Zxp7XRJq5en3rd5h6cL0fhYoq0eqYmd_7Ikxx3TXq78nEQybWVZCQgLPeLdl57cXbQwI_SDmzCDviq0wb4WvkKsI', 'width': 4032}, {'height': 4000, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108344720783860026593">Luthfan Aufar Akbar</a>'], 'photo_reference': 'AZose0mEsXaoNZcjDFflfhFfrT8aaMV6JyGOigpcPq2TF0R-lghha_ZPwZi_ScZ7NWiSfHKRnHtEPetzMEWPu5CbcN_YL6m4lFcu42vmB-qOE0ULHs_MPSct1APkt664aXvxe8_QsOpNtscOUT_-ysgK2iNEpDWhu48C2R5zAEJjZb8eaz1F', 'width': 2252}, {'height': 2268, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/114691091632095066154">Feri Adi Saputra</a>'], 'photo_reference': 'AZose0k5lfhO7LkJKCJDKydctFOCOl9LnCtYsSw-MC6nKgbDUo6jLDFNLecJ3S7okHKv60bVbI1IaS7bV8q0_Cysx89KbzVnDeBYu-DxCDa5xILsTe0Gsi2KGyhkdlhSJCrx5hqQ_roSID3Yqr0XYSOvUmZLDfV_cKplC8U1wK1lXs7FbjP3', 'width': 4032}, {'height': 2268, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107108949202908744188">Anies Heriyanto</a>'], 'photo_reference': 'AZose0loh-zfjSgd9CdIvMqTyQPNhS8nGkvLnu3DIPn1hDtoxnp3Nzp0MPOKVD-k_kjAaNo2DyKg7YDVhjasugHoQ_OGLUTcO0egDCbv8k4KFh99CoqruGDUP4Rv7LgPQjoZFrpoKPEiJAzSb6mEfUrEM9CWMqvbKv25XiQPIw5LgFO1N7uk', 'width': 4032}, {'height': 2268, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/114691091632095066154">Feri Adi Saputra</a>'], 'photo_reference': 'AZose0mNEB0LMVBOn5YRg0BDQXLlz4hI3oAYZ_t6WWUHAx8EIDQFqDzcz9O3_pnh0J4MyTf-eDJoUVhn2aAnE5X2VaKWh-QXLaoYrL6jsSP35yTGTcFfUPNgc7965AEga4ac-1KG7uioHeL5lbBHUn5nAtwfGYninmCYGja6jLHiXw8XdoMJ', 'width': 4032}, {'height': 4608, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/103257873942202136007">JUNTRINK JUNTRINK</a>'], 'photo_reference': 'AZose0lRAMj_CMDJyEMDwJc5S6pYrSOW45OHIzXvLEot9ugINqbfPNV25Ir15_et9XQ8uOBZ7cEVRZYDoB0gGKiTInI-rL2nma54Z29toJ3xXNp6BnbUYjLZ94LNo8y6fnaRqTsU4g2LCcQW2__Y4394xM6eCoaOPdYVqhzMM-6Kv7UqKWZc', 'width': 2592}, {'height': 4032, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/110211252366204396944">Ananda Sevma</a>'], 'photo_reference': 'AZose0nApnUkVVrCXnL86btdZWVEzVb0hIpxZqP_nQlV4MREVqahG6YvcUE8LMywtxmHbFEkqy2MP-nVH11F9ui68mdb0vtutAwjMyKkDsukeAcAkW-dW3BX4mfrcvo_ml4OGcRNlFcFnmMn8D4c66oB6o7qlynDFlPQQsszbbPyJJ6-cNuo', 'width': 3024}], 'place_id': 'ChIJ8b3du_dZei4R5Csj9BqdzsM', 'plus_code': {'compound_code': '6967+79 Sosromenduran, Kota Yogyakarta, Daerah Istimewa Yogyakarta', 'global_code': '6P4G6967+79'}, 'rating': 4.1, 'reviews': [{'author_name': 'Freddy Aldo', 'author_url': 'https://www.google.com/maps/contrib/109023460959007742143/reviews', 'language': 'id', 'original_language': 'id', 'profile_photo_url': 'https://lh3.googleusercontent.com/a-/AD_cMMTsnc7zilIXV0GR5rFaV5yvOUirG6JhqoVJ3HadgA=s128-c0x00000000-cc-rp-mo-ba6', 'rating': 5, 'relative_time_description': 'dalam minggu terakhir', 'text': 'Terletak didalam stasiun kereta Tugu Yogyakarta. Menyediakan berbagai masakan khas Indonesia maupun Western. Beberapa menu favorit di layanan kereta juga dapat ditemukan disini. Untuk rasa dan kualitas makanan baik. Untuk harga sangat kompetitif. Pelayanan ramah. Untuk waktu tunggu penyajian juga cukup cepat. Tempat makan ditempat cukup luas.', 'time': 1685011851, 'translated': False}, {'author_name': 'Heidy Anggraini Putri', 'author_url': 'https://www.google.com/maps/contrib/103997608253433451481/reviews', 'language': 'id', 'original_language': 'id', 'profile_photo_url': 'https://lh3.googleusercontent.com/a-/AD_cMMQnmR_7b8gnGBzT9Tw9tmlbfRcecChgmd_IEXM4QA=s128-c0x00000000-cc-rp-mo-ba5', 'rating': 4, 'relative_time_description': 'dalam minggu terakhir', 'text': 'Sepertinya sudah lama nggak makan di Loko Cafe Stasiun Tugu. Menu favorit saya chicken cordon bleu. Tapi yang disayangkan dengan menu ini sepertinya ukuran chicken nya lebih kecil dari waktu terakhir kali saya makan, selain itu untuk sayur di saladnya nggak fresh terutama wortelnya, seperti sudah kering. Tapi untuk rasa saus cordon bleu nya tetap enak.', 'time': 1685333892, 'translated': False}, {'author_name': 'Feri Adi Saputra', 'author_url': 'https://www.google.com/maps/contrib/114691091632095066154/reviews', 'language': 'id', 'original_language': 'id', 'profile_photo_url': 'https://lh3.googleusercontent.com/a/AAcHTtdzM3pVg2impmZk8o_E7rIzvjOWzW7TUjcqoltaJA=s128-c0x00000000-cc-rp-mo-ba4', 'rating': 5, 'relative_time_description': '2 bulan lalu', 'text': 'Cafe yang terletak di dalam stasiun tugu Yogyakarta.\nKaget setelah sekian lama tidak mampir ke Loko Cafe. Desain interior berubah. Lebih bagus penataannya sekarang.\nRasa makanan dan minuman yang disajikan tetap enak juga. Pelayanan nya juga masih bagus dan selalu ramah.\nUntuk yang ingin menunggu kereta, sambil menikmati hidangan ringan hingga berat, bisa di Loko Cafe.\nNgga khawatir deg2an ketinggalan kereta, karena lokasi nya di dalam stasiun tepat diantara peron 3-4.\nInfo kereta yang akan berangkat juga di sampaikan oleh pelayan disini.\nKekurangannya hawanya agak sedikit panas, walaupun kipas angin sudah dinyalakan. Atau mungkin memang hawa Bumi ini yang memang sudah terlalu panas.\nOverall nyaman menunggu kereta di sini.', 'time': 1679007534, 'translated': False}, {'author_name': 'Nurr s_65', 'author_url': 'https://www.google.com/maps/contrib/112360003413847314012/reviews', 'language': 'id', 'original_language': 'id', 'profile_photo_url': 'https://lh3.googleusercontent.com/a-/AD_cMMRG6snd8EZXe2aI0GjSUsfYAuK2SQCgPyjLShwsnw=s128-c0x00000000-cc-rp-mo-ba4', 'rating': 3, 'relative_time_description': 'sebulan yang lalu', 'text': 'Ga kawatir Kelaparan di stasiun tugu, soalnya ada cafe ini,, menu nya lumayan banyak... Harga ya standar mengingat lokasi di dalam stasiun,\nrasa lumayan, bakmie goreng jogja nya cenderung ke manis...\nPelayanan oke, tempat juga bersih dan selalu ramai..', 'time': 1682906375, 'translated': False}, {'author_name': 'Tri Wida Rachmadani', 'author_url': 'https://www.google.com/maps/contrib/106284995457753001513/reviews', 'language': 'id', 'original_language': 'id', 'profile_photo_url': 'https://lh3.googleusercontent.com/a-/AD_cMMTuI276CAzdSV7RHAqRWCP1NUfpL-Uk5IQ_HofgNg=s128-c0x00000000-cc-rp-mo-ba3', 'rating': 3, 'relative_time_description': '2 bulan lalu', 'text': 'Makanan nya lumayan enak dengan harga yang masuk akal, tempat juga bagus buat nunggu kereta datang. Tapi pelayanan nya kurang menurut ku, kurang cepet dan gercep. Aku hampir ketinggalan kereta cuma gara-gara gak ada pelayan yang melayani waktu mau bayar padahal aku udh nunggu 10 menit antri dan pelayanan nya malah sibuk nganterin makan dulu. Okelah, kalau pagawainya cuma 1 orang tapi ini ada 3 pegawai dan semuanya sibuk nganterin makanan, saran aja  setidaknya ada yang pegang kasir jadi gak perlu nunggu cuma buat bayar.', 'time': 1677938635, 'translated': False}], 'serves_breakfast': True, 'takeout': True, 'types': ['cafe', 'food', 'point_of_interest', 'establishment'], 'url': 'https://maps.google.com/?cid=14109387421688998884', 'user_ratings_total': 12, 'utc_offset': 420, 'vicinity': 'Sosromenduran', 'website': 'https://instagram.com/lokocafe?igshid=OTJlNzQ0NWM='}, 'status': 'OK'}

In [66]:
place_ids = []
operation_hours = []
for item in data:
    result = item["result"]
    place_id = result.get("place_id")
    place_ids.append(place_id)

    opening_hours = result.get('opening_hours')
    if opening_hours is not None:
        weekday_text = opening_hours.get('weekday_text')
        if weekday_text is not None:
            operation_hours.append(weekday_text)
        else:
            operation_hours.append(np.nan)
    else:
        operation_hours.append(np.nan)

In [69]:
OperationHours = pd.DataFrame({'place_id': place_ids, 'operation_hours': operation_hours})

In [70]:
OperationHours.head()

,place_id,operation_hours
0,ChIJ8b3du_dZei4R5Csj9BqdzsM,"[Senin: 08.0022.00, Selasa: 08.0022.00, Rabu..."
1,ChIJ-1OO3xhZei4RpiUw_jIlPBQ,"[Senin: 08.0022.00, Selasa: 08.0022.00, Rabu..."
2,ChIJAbDRQ7pZei4Rm8oXtJg74k8,NaN
3,ChIJWW-U4vlZei4RHX6ILzVTvcA,"[Senin: 09.0021.00, Selasa: 09.0021.00, Rabu..."
4,ChIJq6pHmTBYei4RlTjahkZgUlY,NaN

In [72]:
OperationHours['opening_hours_str'] = OperationHours['operation_hours'].apply(lambda x: ', '.join(x) if isinstance(x, list) else np.nan).tolist()

In [74]:
OperationHours.head()

,place_id,operation_hours,opening_hours_str
0,ChIJ8b3du_dZei4R5Csj9BqdzsM,"[Senin: 08.0022.00, Selasa: 08.0022.00, Rabu...","Senin: 08.0022.00, Selasa: 08.0022.00, Rabu:..."
1,ChIJ-1OO3xhZei4RpiUw_jIlPBQ,"[Senin: 08.0022.00, Selasa: 08.0022.00, Rabu...","Senin: 08.0022.00, Selasa: 08.0022.00, Rabu:..."
2,ChIJAbDRQ7pZei4Rm8oXtJg74k8,NaN,NaN
3,ChIJWW-U4vlZei4RHX6ILzVTvcA,"[Senin: 09.0021.00, Selasa: 09.0021.00, Rabu...","Senin: 09.0021.00, Selasa: 09.0021.00, Rabu:..."
4,ChIJq6pHmTBYei4RlTjahkZgUlY,NaN,NaN

In [ ]:
OperationHours.opening_hours_str.tolist()

In [78]:
def split_hours(row):
    if pd.isna(row):
        return [np.nan] * 7

    days = ['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu']
    hours = [np.nan] * 7

    for day in row.split(','):
        parts = day.split(':')
        if len(parts) == 2:
            day_name = parts[0].strip()
            day_index = days.index(day_name)
            hours[day_index] = parts[1].strip()

    return hours

OperationHours[['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']] = pd.DataFrame(OperationHours['opening_hours_str'].apply(split_hours).tolist())

In [79]:
OperationHours.head()

,place_id,operation_hours,opening_hours_str,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,ChIJ8b3du_dZei4R5Csj9BqdzsM,"[Senin: 08.0022.00, Selasa: 08.0022.00, Rabu...","Senin: 08.0022.00, Selasa: 08.0022.00, Rabu:...",08.0022.00,08.0022.00,08.0022.00,08.0022.00,08.0022.00,08.0022.00,08.0022.00
1,ChIJ-1OO3xhZei4RpiUw_jIlPBQ,"[Senin: 08.0022.00, Selasa: 08.0022.00, Rabu...","Senin: 08.0022.00, Selasa: 08.0022.00, Rabu:...",08.0022.00,08.0022.00,08.0022.00,08.0022.00,08.0023.00,08.0023.00,08.0023.00
2,ChIJAbDRQ7pZei4Rm8oXtJg74k8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ChIJWW-U4vlZei4RHX6ILzVTvcA,"[Senin: 09.0021.00, Selasa: 09.0021.00, Rabu...","Senin: 09.0021.00, Selasa: 09.0021.00, Rabu:...",09.0021.00,09.0021.00,09.0021.00,09.0021.00,09.0021.00,09.0022.00,09.0022.00
4,ChIJq6pHmTBYei4RlTjahkZgUlY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
OperationHours[['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']].head()

,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,08.0022.00,08.0022.00,08.0022.00,08.0022.00,08.0022.00,08.0022.00,08.0022.00
1,08.0022.00,08.0022.00,08.0022.00,08.0022.00,08.0023.00,08.0023.00,08.0023.00
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,09.0021.00,09.0021.00,09.0021.00,09.0021.00,09.0021.00,09.0022.00,09.0022.00
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
OperationHours.Monday.unique()

array(['08.0022.00', nan, '09.0021.00', '16.0001.30', '10.0000.00',
       'Buka 24 jam', '15.0002.00', '09.0022.00', '12.0022.00',
       '16.0002.30', '13.0000.00', '12.0023.59', '14.0022.00',
       '08.0001.00', 'Tutup', '07.0022.00', '15.0023.30',
       '17.0000.00', '09.0023.30', '12.0023.00', '09.3017.00',
       '07.0023.00', '09.0017.00', '16.0001.00', '09.0000.00',
       '16.0000.00', '16.0600.07', '06.0020.00', '06.0018.00',
       '09.0018.00', '08.0015.00', '07.3021.30', '07.0020.00',
       '10.0023.00', '18.0002.00', '05.0018.00', '10.0022.00',
       '12.0020.00', '09.0015.30', '08.0023.00', '08.0000.00',
       '17.0022.00', '11.0020.00', '10.0021.00', '09.0023.00',
       '09.0022.30', '08.0023.30', '10.0002.00', '17.0023.00',
       '11.0022.00', '09.0001.00', '08.0016.00', '10.0016.00',
       '07.0018.00', '08.0021.00', '11.0023.00', '08.0022.30',
       '12.0021.00', '08.0020.00', '15.0001.00', '10.0001.00',
       '08.0002.00', '05.0019.00', '15.0022.00', '14.0023.00',
       '09.0020.00', '07.3017.30', '18.0000.00', '15.0000.00',
       '04.0000.00', '10.0017.30', '14.0021.00', '05.1021.00',
       '16.3022.30', '06.0014.00', '12.0000.00', '11.3021.00',
       '16.0023.00', '10.0017.00', '11.0021.00', '05.0020.00',
       '09.0015.00', '07.0014.00', '11.0018.00', '09.3015.00',
       '18.0023.59', '06.0017.00', '05.0022.00', '05.3023.00',
       '14.0000.00', '10.0020.00', '10.0018.00', '06.0010.00',
       '18.0004.00', '16.0002.00', '08.0019.00', '17.0021.30',
       '18.0022.00', '17.0021.00', '16.3023.00', '07.3017.00',
       '06.3017.00', '18.0023.30', '16.3023.30', '15.0021.00',
       '07.0016.00', '06.0023.59', '08.0016.30', '16.0022.00',
       '09.0017.30', '06.0016.00', '07.0021.00', '05.0021.00',
       '08.0018.00', '06.0000.00', '06.0022.00', '06.0001.00',
       '06.0021.00', '06.3021.00', '10.0019.30', '06.0015.00',
       '10.3020.30', '05.3017.00', '17.0503.00', '21.0003.00',
       '08.0004.00', '09.0002.00', '16.0005.00', '10.0019.00',
       '06.0023.00', '20.0003.00', '11.0000.00', '17.0005.00',
       '11.0002.00', '17.0001.00', '12.0001.00', '08.0017.00',
       '18.0003.00', '17.3003.00', '15.0023.00', '18.0001.00',
       '12.0020.30', '08.3000.00', '19.0002.00', '06.2616.27',
       '17.0002.00', '11.0001.00', '19.0023.00', '09.0016.00',
       '07.3020.00', '07.0002.00', '09.0020.30', '16.3001.30',
       '10.0000.30', '19.0022.00', '09.0005.00', '07.0021.30',
       '09.0019.00', '08.3015.00', '12.0003.00'], dtype=object)

In [120]:
def split_hours(row):
    if pd.isna(row):
        return [np.nan] * 14

    days = ["Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu", "Minggu"]
    hours = [np.nan] * 14


    for day in row.split(','):
        parts = day.split(':')
        if len(parts) == 2:
            day_name = parts[0].strip()
            day_index = days.index(day_name)
            hour_range = parts[1].strip()

            if hour_range == 'Buka 24 jam':
                hours[day_index * 2] = '00.00'
                hours[day_index * 2 + 1] = '23.59'
            elif hour_range == 'Tutup':
                hours[day_index * 2] = 'Close'
                hours[day_index * 2 + 1] = 'Close'
            else:
                try:
                    open_time, close_time = hour_range.split('')
                    hours[day_index * 2] = open_time.strip()
                    hours[day_index * 2 + 1] = close_time.strip()
                except ValueError:
                    hours[day_index * 2] = np.nan
                    hours[day_index * 2 + 1] = np.nan

    return hours

In [121]:
new_columns = ['Monday_Open', 'Monday_Close', 'Tuesday_Open', 'Tuesday_Close', 'Wednesday_Open', 'Wednesday_Close', 'Thursday_Open', 'Thursday_Close', 'Friday_Open', 'Friday_Close', 'Saturday_Open', 'Saturday_Close', 'Sunday_Open', 'Sunday_Close']

OperationHours[new_columns] = pd.DataFrame(OperationHours['opening_hours_str'].apply(split_hours).tolist())

In [124]:
# Make sure all the data is formatted correctly
OperationHours.query("opening_hours_str.notna() and Wednesday_Open.isna()")

Empty DataFrame
Columns: [place_id, operation_hours, opening_hours_str, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday, Monday_Open, Monday_Close, Tuesday_Open, Tuesday_Close, Wednesday_Open, Wednesday_Close, Thursday_Open, Thursday_Close, Friday_Open, Friday_Close, Saturday_Open, Saturday_Close, Sunday_Open, Sunday_Close]
Index: []

[0 rows x 24 columns]

In [130]:
OperationHours.query("Friday_Open == '00.00'")

,place_id,Monday_Open,Monday_Close,Tuesday_Open,Tuesday_Close,Wednesday_Open,Wednesday_Close,Thursday_Open,Thursday_Close,Friday_Open,Friday_Close,Saturday_Open,Saturday_Close,Sunday_Open,Sunday_Close
8,ChIJNYG2v7BZei4R8Z6vW-rHloU,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59
10,ChIJ0YNPCoZZei4R7XSUCANUsnw,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59
38,ChIJVVVVVZpXei4RHH2DNvYv4DM,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59
54,ChIJUdoZYcHjei4RpngV597-Wqc,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59
62,ChIJOYDQoVhYei4RVcV1ENsUAJ8,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,ChIJPw_DVQO1ey4RJ8zknYN6eIc,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59
532,ChIJ9z5ahuO1ey4R-UzlLn4SObc,Close,Close,Close,Close,Close,Close,Close,Close,00.00,23.59,Close,Close,Close,Close
534,ChIJV3OgjLxLei4RlYh7PT90Yn4,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59
538,ChIJ7eEUlVFLei4RZEnzwEI594I,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59
544,ChIJB6wLFWVLei4RM8iEt8nWGHg,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59,00.00,23.59

In [123]:
OperationHours.head()

,place_id,operation_hours,opening_hours_str,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,...,Wednesday_Open,Wednesday_Close,Thursday_Open,Thursday_Close,Friday_Open,Friday_Close,Saturday_Open,Saturday_Close,Sunday_Open,Sunday_Close
0,ChIJ8b3du_dZei4R5Csj9BqdzsM,"[Senin: 08.0022.00, Selasa: 08.0022.00, Rabu...","Senin: 08.0022.00, Selasa: 08.0022.00, Rabu:...",08.0022.00,08.0022.00,08.0022.00,08.0022.00,08.0022.00,08.0022.00,08.0022.00,...,08.00,22.00,08.00,22.00,08.00,22.00,08.00,22.00,08.00,22.00
1,ChIJ-1OO3xhZei4RpiUw_jIlPBQ,"[Senin: 08.0022.00, Selasa: 08.0022.00, Rabu...","Senin: 08.0022.00, Selasa: 08.0022.00, Rabu:...",08.0022.00,08.0022.00,08.0022.00,08.0022.00,08.0023.00,08.0023.00,08.0023.00,...,08.00,22.00,08.00,22.00,08.00,23.00,08.00,23.00,08.00,23.00
2,ChIJAbDRQ7pZei4Rm8oXtJg74k8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ChIJWW-U4vlZei4RHX6ILzVTvcA,"[Senin: 09.0021.00, Selasa: 09.0021.00, Rabu...","Senin: 09.0021.00, Selasa: 09.0021.00, Rabu:...",09.0021.00,09.0021.00,09.0021.00,09.0021.00,09.0021.00,09.0022.00,09.0022.00,...,09.00,21.00,09.00,21.00,09.00,21.00,09.00,22.00,09.00,22.00
4,ChIJq6pHmTBYei4RlTjahkZgUlY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
OperationHours.columns

Index(['place_id', 'operation_hours', 'opening_hours_str', 'Monday', 'Tuesday',
       'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday_Open',
       'Monday_Close', 'Tuesday_Open', 'Tuesday_Close', 'Wednesday_Open',
       'Wednesday_Close', 'Thursday_Open', 'Thursday_Close', 'Friday_Open',
       'Friday_Close', 'Saturday_Open', 'Saturday_Close', 'Sunday_Open',
       'Sunday_Close'],
      dtype='object')

In [127]:
OperationHours = OperationHours.drop(columns = ['operation_hours', 'opening_hours_str', 'Monday', 'Tuesday',
       'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'])

In [128]:
OperationHours.head()

,place_id,Monday_Open,Monday_Close,Tuesday_Open,Tuesday_Close,Wednesday_Open,Wednesday_Close,Thursday_Open,Thursday_Close,Friday_Open,Friday_Close,Saturday_Open,Saturday_Close,Sunday_Open,Sunday_Close
0,ChIJ8b3du_dZei4R5Csj9BqdzsM,08.00,22.00,08.00,22.00,08.00,22.00,08.00,22.00,08.00,22.00,08.00,22.00,08.00,22.00
1,ChIJ-1OO3xhZei4RpiUw_jIlPBQ,08.00,22.00,08.00,22.00,08.00,22.00,08.00,22.00,08.00,23.00,08.00,23.00,08.00,23.00
2,ChIJAbDRQ7pZei4Rm8oXtJg74k8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ChIJWW-U4vlZei4RHX6ILzVTvcA,09.00,21.00,09.00,21.00,09.00,21.00,09.00,21.00,09.00,21.00,09.00,22.00,09.00,22.00
4,ChIJq6pHmTBYei4RlTjahkZgUlY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Reviews Formatting

In [ ]:
df.columns

In [ ]:
df

In [ ]:
reviews_df = df[['result_name', 'result_reviews']]

In [ ]:
reviews_df

In [ ]:
new_reviews_df = pd.DataFrame(columns=['Place Name','Author', 'Review', 'Rating', 'Time'])

In [ ]:
reviews_df.loc[0]['result_reviews']

In [ ]:
for i in range(len(reviews_df)):
    place_name = reviews_df.loc[i]['result_name']
    review_list = reviews_df.loc[i]['result_reviews']
    
    # Iterate over each review in the list
    for review in review_list:
        author_name = review['author_name']
        review_text = review['text']
        review_rating = review['rating']
        review_time = review['relative_time_description']
        
        # Create a new row with the place name and review details
        new_row = {'Place Name': place_name, 'Author' : author_name, 'Review': review_text, 'Rating' : review_rating, 'Time' : review_time}
        
        # Append the new row to the new DataFrame
        new_reviews_df = new_reviews_df.append(new_row, ignore_index=True)

In [ ]:
new_reviews_df

## Types

In [131]:
place_ids = []
types = []
for item in data:
    result = item["result"]
    place_id = result.get("place_id")
    place_ids.append(place_id)

    categories = result.get('types')
    types.append(categories)

In [133]:
categories = pd.DataFrame({'place_id' : place_ids, 'types' : types})

In [134]:
categories.head()

,place_id,types
0,ChIJ8b3du_dZei4R5Csj9BqdzsM,"[cafe, food, point_of_interest, establishment]"
1,ChIJ-1OO3xhZei4RpiUw_jIlPBQ,"[cafe, store, food, point_of_interest, establi..."
2,ChIJAbDRQ7pZei4Rm8oXtJg74k8,"[cafe, food, point_of_interest, establishment]"
3,ChIJWW-U4vlZei4RHX6ILzVTvcA,"[cafe, food, point_of_interest, establishment]"
4,ChIJq6pHmTBYei4RlTjahkZgUlY,"[cafe, food, point_of_interest, establishment]"

In [135]:
place_types = ['bar', 'cafe', 'restaurant']

In [136]:
# Create a new DataFrame with dummy variables for each type
dummy_df = pd.get_dummies(categories['types'].explode())

# Reindex the columns to include all possible types
dummy_df = dummy_df.reindex(columns=place_types, fill_value=0)

# Sum the dummy variables for each type to get the final 1 or 0 values
df_types = dummy_df.groupby(level=0).sum()

# Concatenate the original DataFrame with the types DataFrame
categories = pd.concat([categories, df_types], axis=1)

In [138]:
categories.head()

,place_id,types,bar,cafe,restaurant
0,ChIJ8b3du_dZei4R5Csj9BqdzsM,"[cafe, food, point_of_interest, establishment]",0,1,0
1,ChIJ-1OO3xhZei4RpiUw_jIlPBQ,"[cafe, store, food, point_of_interest, establi...",0,1,0
2,ChIJAbDRQ7pZei4Rm8oXtJg74k8,"[cafe, food, point_of_interest, establishment]",0,1,0
3,ChIJWW-U4vlZei4RHX6ILzVTvcA,"[cafe, food, point_of_interest, establishment]",0,1,0
4,ChIJq6pHmTBYei4RlTjahkZgUlY,"[cafe, food, point_of_interest, establishment]",0,1,0

In [141]:
categories.query('bar == 1')

,place_id,types,bar,cafe,restaurant
100,ChIJNa6cb7ZZei4R82akWhknyt8,"[cafe, food, bar, point_of_interest, establish...",1,1,0
308,ChIJ9bs_E2Bbei4RGFSws7jwgxg,"[bar, point_of_interest, establishment]",1,0,0
309,ChIJtckhKH9bei4RXcgaE15s-Aw,"[bar, point_of_interest, establishment]",1,0,0
310,ChIJIUGoHhNbei4RBncoV5EdCGM,"[bar, point_of_interest, establishment]",1,0,0
311,ChIJL0dCPbBbei4RW1xkLR2eF6c,"[bar, point_of_interest, establishment]",1,0,0
...,...,...,...,...,...
546,ChIJ9bR2cARNei4RGT_bEf77qyk,"[bar, point_of_interest, establishment]",1,0,0
547,ChIJNyTTyIK1ey4RvIRJaw8eSFk,"[bar, point_of_interest, establishment]",1,0,0
548,ChIJbUgs4BZLei4RM6q6BWRgIQQ,"[bar, point_of_interest, establishment]",1,0,0
549,ChIJ29d7H1VLei4REVfbBPkULPA,"[night_club, bar, point_of_interest, establish...",1,0,0
550,ChIJn69MZXm1ey4RdBcckJestyQ,"[bar, point_of_interest, establishment]",1,0,0

In [142]:
categories = categories.drop(columns = 'types')

In [143]:
categories.head()

                      place_id  bar  cafe  restaurant
0  ChIJ8b3du_dZei4R5Csj9BqdzsM    0     1           0
1  ChIJ-1OO3xhZei4RpiUw_jIlPBQ    0     1           0
2  ChIJAbDRQ7pZei4Rm8oXtJg74k8    0     1           0
3  ChIJWW-U4vlZei4RHX6ILzVTvcA    0     1           0
4  ChIJq6pHmTBYei4RlTjahkZgUlY    0     1           0

# Import Operation Hours and Categories to CSV

In [144]:
categories.to_csv('types.csv')
OperationHours.to_csv('OperationHours.csv')